﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AGRICULTURE </title>
    <link rel="icon" type="image/png" href="~/Content/images/logo.png" />
    <!-- Bootstrap -->
    <link href="~/Content/theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="~/Content/theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    @*Jquery UI*@
    <link rel="stylesheet" type="text/css" href="~/Content/jqueryUi/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jqueryUi/jquery-ui.structure.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jqueryUi/jquery-ui.theme.css" />

    <!-- Custom Theme Style -->
    <link href="~/Content/theme/build/css/custom.min.css" rel="stylesheet">
    <style>
        .glow {
            font-size: 14px;
            color: #fff;
            text-align: left;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }

        @@-webkit-keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            }

            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
            }
        }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Dashboard","Home")" class="site_title">@*<i class="fa fa-paw"></i>*@ <span>AGRICULTURE</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/images/logo.png" class="img-circle profile_img" />
                        </div>
                        <div class="profile_info glow">
                            <span>Welcome to</span>
                            <h2>AGRICULTURE</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <div style="display: none;" class="overlay" id="loader">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Dashboard","Home")">
                                        <i class="fa fa-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Basic <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Farmers")">Farmers</a></li>

                                        <li><a href="@Url.Action("Index", "FishTypes")">Fish Types</a></li>
                                        <li><a href="@Url.Action("Index", "SeedTypes")">Seed Types</a></li>

                                        <li><a href="@Url.Action("Index", "Fish")">Fish</a></li>
                                        <li><a href="@Url.Action("Index", "Seeds")">Seeds</a></li>
                                        <li><a href="@Url.Action("Index", "Fertilizers")">Fertilizers</a></li>
                                        

                                        <li><a href="@Url.Action("Index", "ReceiveOfProducts")">Receive Of Products</a></li>
                                        <li><a href="@Url.Action("Index", "SaplingSeeds")">Sapling Seeds</a></li>
                                        <li><a href="@Url.Action("Index", "DistributionOfSeeds")">Distribution Of Seeds</a></li>
                                        <li><a href="@Url.Action("Index", "DistributionOfFish")">Distribution Of Fish</a></li>

                                        @*<li><a href="@Url.Action("Index", "FishProjects")">Fish Projects</a></li>
        <li><a href="@Url.Action("Index", "RiceSeeds")">Rice Seeds</a></li>

        <li><a href="@Url.Action("Index","VegetableSeeds")">Vegetable Seeds</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-cogs"></i> System <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "UserAccounts")">User Account</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">
                                    @if (Session["username"] != null)
                                    {
                                        <span>@Session["username"].ToString()</span>
                                    }
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Inventory management system by <a target="_blank" href="https://www.fiverr.com/share/382WA9">Tofail Alam Tushar</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/theme/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/theme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/theme/vendors/nprogress/nprogress.js"></script>

    <!-- iCheck -->
    <script src="~/Content/theme/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/Content/theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/theme/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/theme/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/theme/vendors/pdfmake/build/vfs_fonts.js"></script>


    @*Jquery UI*@
    <script type="text/javascript" src="~/Scripts/jqueryUi/jquery-ui.js"></script>

    @*Jquery Multiselect*@
    <script type="text/javascript" src="~/Scripts/jqueryUi/jquery.multiselect.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jqueryUi/jquery.multiselect.filter.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/theme/build/js/custom.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
