﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="~/Content/images/admin.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Admin</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/Content/images/admin.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Manager</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/Content/images/admin.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Developer</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/Content/images/admin.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Engineer</p>
            </div>
        </div>
    </div>
</div>
