﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background-image: url(../../Content/images/home.jpg);height: 1000px;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <h2>Welcome to Farmer Dashboard</h2>
</div>

