﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div style="background-image: url(../../Content/images/aaa.jpg);height: 1000px;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <h1 style="text-align:center">Welcome</h1>
</div>