﻿@model AgricultureManagementSystem.Models.Fish

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Are you sure you want to delete this ?</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Quantity)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FishType.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FishType.Name)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>